/*
Theme Name: Supro
Theme URI: http://drfuri.com/supro
Author: DrFuri
Author URI: http://drfuri.com
Description: Minimalist AJAX WooCommerce WordPress Theme
Version: 1.2.1
License: GNU General Public License v2+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: supro
Domain Path: /lang/
Tags: one-column, two-columns, left-sidebar, right-sidebar, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
*/
/*
Theme Name: Supro

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/
html {
  direction: rtl;
}
body {
  direction: rtl;
  unicode-bidi: embed;
}
/** End Bootstrap RTL **/
.text-left {
  text-align: right;
}
.text-right {
  text-align: left;
}
blockquote:after {
  display: none;
}
/** Header **/
.site-header .site-logo {
  margin: 5px 0 5px 20px;
}
.nav ul.menu {
  margin: 0 -20px 0 0;
}
.nav .menu .is-mega-menu .dropdown-submenu {
  left: auto;
  right: -15px;
}
.nav ul ul {
  left: auto;
  right: 0;
}
.site-header .menu-extra .extra-menu-item {
  padding-left: 0;
  padding-right: 20px;
}
.site-header .menu-extra .menu-item-search {
  padding-right: 0;
}
.site-header .menu-extra .menu-item-search .t-icon {
  right: auto;
  left: 0;
}
.site-header .menu-extra .menu-item-search .search-field {
  padding: 10px 0 12px 25px;
}
.site-header .menu-extra .menu-item-account ul li {
  text-align: right;
}
.site-header .menu-extra .menu-item-cart,
.site-header .menu-extra .menu-item-wishlist {
  margin-right: 5px;
  margin-left: 0;
}
.page-template-template-home-no-footer .footer-newsletter {
  right: auto;
  left: 0;
}
.page-template-template-home-no-footer .footer-newsletter .title-area {
  padding-right: 0;
  padding-left: 60px;
}
.page-template-template-home-no-footer .footer-newsletter .title-area:after {
  right: auto;
  left: 0;
}
.newsletter-icon {
  left: 20px;
  right: auto;
}
.header-transparent.header-layout-1 .site-header .menu-extra .menu-item-search .t-icon,
.header-transparent.header-layout-1 .site-header .menu-extra .menu-item-search .loading {
  right: auto;
  left: 20px;
}
.header-transparent.header-layout-1 .site-header .menu-extra .menu-item-search .search-field {
  padding-left: 45px;
  padding-right: 20px;
}
/** Topbar **/
.topbar .supro-language-currency .widget-lan-cur img.iclflag {
  padding-right: 0;
  padding-left: 15px;
}
.topbar .supro-language-currency .widget-lan-cur span.toggle-children:before {
  padding-left: 0;
  padding-right: 10px;
}
.topbar .topbar-widgets .widget:after {
  right: auto;
  left: -1px;
}
/** Canvas **/
.supro-off-canvas-panel {
  right: auto;
  left: -475px;
}
.supro-off-canvas-panel.open {
  transform: translate3d(475px, 0, 0);
}
.search-modal .search-fields .btn-submit,
.search-modal .search-fields .search-submit {
  left: 15px;
  right: auto;
  transform: rotate(180deg);
}
.woocommerce.mini-cart .cart_list .remove {
  left: 0;
  right: auto;
}
.woocommerce.mini-cart .cart_list li .un-mini-cart-thumbnail {
  float: right;
}
.woocommerce.mini-cart .cart_list li .un-mini-cart-content {
  padding-left: 0;
  text-align: right;
  padding-right: 80px;
}
.header-left-sidebar .nav ul ul {
  left: auto;
  right: 100%;
  transform: translate(-50px, 0);
}
.header-left-sidebar .nav ul ul:before {
  right: -50px;
}
.header-left-sidebar .nav ul ul ul {
  transform: translate(-5px, 0);
}
.header-left-sidebar .nav ul ul ul:before {
  right: -5px;
}
.header-left-sidebar .nav .menu .is-mega-menu .dropdown-submenu {
  right: 100%;
  left: auto;
}
.header-left-sidebar .site-header .menu-extra .menu-item-account ul {
  left: auto;
  right: 100%;
  transform: translate(-50px, 0);
}
.header-left-sidebar .site-header .menu-extra .menu-item-account ul:before {
  right: -50px;
}
.header-left-sidebar .site {
  padding-left: 0;
  padding-right: 350px;
}
.header-left-sidebar .site-header {
  left: auto;
  right: 0;
}
.header-left-sidebar .site-header .menu-sidebar-panel .menu-search .search-field {
  padding-right: 0;
  padding-left: 25px;
}
.header-left-sidebar .site-header .menu-extra .extra-menu-item {
  text-align: right;
}
.header-left-sidebar .site-header .menu-extra .menu-item-cart,
.header-left-sidebar .site-header .menu-extra .menu-item-wishlist {
  margin: 0;
}
.header-left-sidebar .site-header .menu-extra .menu-item-cart .mini-cart-counter,
.header-left-sidebar .site-header .menu-extra .menu-item-wishlist .mini-cart-counter {
  right: auto;
  left: 0;
}
/** Content **/
.comments-title,
.comment-reply-title,
.supro-related-posts .blog-wrapper .entry-header {
  text-align: right;
}
.single-post .entry-metas .entry-meta label {
  padding-right: 0;
  padding-left: 5px;
}
.single-post .cap {
  line-height: 0.8;
}
.post-author .post-author-box .post-author-avatar {
  float: right;
}
.post-author .post-author-info {
  margin-left: 0;
  margin-right: 90px;
}
.blog-wrapper.sticky .entry-title {
  padding: 0;
}
.blog-wrapper.sticky .entry-title:before {
  padding-left: 30px;
  position: static;
}
.portfolio-carousel .entry-summary,
.portfolio-masonry .entry-summary {
  right: 0;
  left: auto;
}
.single-portfolio-entry-meta .entry-metas {
  text-align: left;
}
.portfolio-navigation .nav-next {
  text-align: left;
}
.portfolio-navigation .nav-next i {
  padding-right: 13px;
  padding-left: 0;
}
.portfolio-navigation .nav-previous i {
  padding-right: 0;
  padding-left: 13px;
}
.error404 .error-404 .search-form label input {
  padding: 14px 20px 14px 50px;
}
.error404 .error-404 .search-form .search-submit {
  left: 0;
  right: auto;
}
.error404 .error-404 .search-form:before {
  left: 20px;
  right: auto;
}
/** Widgets **/
.widget_tag_cloud a,
.widget_product_tag_cloud a {
  float: right;
}
.widgets-area .widget ul.product_list_widget li img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.shop-widget-info .w-icon {
  float: right;
}
.shop-widget-info .w-content {
  padding-left: 0;
  padding-right: 35px;
}
.catalog-sidebar .supro_attributes_filter ul li.show-color .nav-title {
  padding-left: 0;
  padding-right: 10px;
}
.catalog-sidebar .supro_attributes_filter ul li.show-color:before {
  left: 3px;
  right: auto;
}
.catalog-sidebar .supro_attributes_filter ul li.show-color:after {
  left: 0;
  right: auto;
}
.woocommerce-product-search .search-field {
  padding-right: 5px;
  padding-left: 40px;
}
.woocommerce-product-search input[type="submit"],
.woocommerce-product-search button {
  right: auto;
  left: 5px;
}
.woocommerce-product-search:after {
  right: auto;
  left: 17px;
}
/** Elements **/
.mc4wp-form input[type="email"] {
  padding: 0 37px 0 20px;
}
.mc4wp-form .mc4wp-form-fields:after {
  left: auto;
  right: 0;
}
.supro-newsletter.has-bg .mc4wp-form .mc4wp-form-fields:after {
  left: auto;
  right: 33px;
}
.page-template-template-coming-soon-page .coming-soon-newsletter .mc4wp-form input[type="email"] {
  padding-right: 70px;
  padding-left: 37px;
}
.page-template-template-coming-soon-page .coming-soon-newsletter .mc4wp-form .mc4wp-form-fields:after {
  left: auto;
  right: 30px;
}
.supro-list li {
  padding: 3px 25px 3px 0;
}
.supro-list li:before {
  left: auto;
  right: 0;
}
.supro-icons-box i {
  float: right;
}
.supro-icons-box .box-wrapper {
  margin-right: 35px;
  margin-left: 0;
}
.supro-members .member-info {
  right: 0;
  left: auto;
}
.supro-sale-product .regular-price {
  padding-right: 0;
  padding-left: 20px;
}
.supro-product-banner .banner-content {
  text-align: right;
}
.supro-product-banner .banner-group .banner-url.even-banner {
  padding-left: 0;
  padding-right: 130px;
}
.supro-product-banner .banner-group .banner-url.even-banner .banner-content {
  left: auto;
  right: 0;
}
.supro-product-banner .banner-group .banner-url.odd-banner .banner-content {
  padding-left: 0;
  padding-right: 20px;
}
.supro-product-banner2.style-1 .banner-wrapper {
  text-align: right;
}
.supro-faq_group div[class*="col-"] {
  float: right;
}
/** Woo **/
.page-header-catalog .page-header-shop-toolbar {
  padding-left: 0;
  padding-right: 20px;
}
.woocommerce.mini-cart .cart_list li {
  padding: 20px 0 20px 20px;
}
.woocommerce.mini-cart .total strong {
  float: right;
}
.woocommerce.mini-cart .total .amount {
  float: left;
}
.woocommerce.content-sidebar div.product .woocommerce-tabs ul.tabs,
.woocommerce.sidebar-content div.product .woocommerce-tabs ul.tabs {
  text-align: right;
}
.woocommerce .star-rating {
  width: 71px;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
  direction: ltr;
}
.woocommerce div.product .supro-wishlist-button .yith-wcwl-add-to-wishlist {
  margin-left: 0;
  margin-right: 10px;
}
.woocommerce div.product .tawcvs-swatches .swatch {
  margin-right: 0;
  margin-left: 10px;
}
.woocommerce div.product .tawcvs-swatches .swatch:last-child {
  margin-left: 0;
}
.woocommerce div.product .woocommerce-product-rating .star-rating {
  width: 71px;
}
.woocommerce div.product form.cart .variations td.label {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce div.product form.cart .variations select {
  margin-left: 0;
  margin-right: 1em;
}
.woocommerce div.product p.stock {
  padding-left: 0;
  margin-left: 0;
  padding-right: 25px;
  margin-right: 40px;
}
.woocommerce div.product p.stock:before {
  left: auto;
  right: 4px;
}
.woocommerce div.product p.stock:after {
  left: auto;
  right: 0;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce div.product form.cart .button,
.woocommerce div.product form.cart .actions-button {
  float: right;
}
.woocommerce div.product form.cart div.quantity {
  margin-right: 0;
  margin-left: 10px;
}
.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  padding-right: 5px;
  padding-left: 0;
}
.woocommerce div.product .woocommerce-tabs .panel .shop_attributes {
  text-align: right;
}
.woocommerce div.product .woocommerce-tabs .panel .shop_attributes th {
  text-align: right;
}
.woocommerce div.product.product-type-grouped .cart table.group_table th.product-name,
.woocommerce div.product.product-type-grouped .cart table.group_table td.woocommerce-grouped-product-list-item__label {
  text-align: right;
}
.woocommerce div.product.product-type-grouped .cart div.quantity {
  float: left;
}
.woocommerce div.product.product-type-variable form.cart .variations td.label {
  text-align: right;
}
.woocommerce div.product.product-type-variable form.cart .variations td.value {
  float: right;
}
.woocommerce div.product.product-type-variable form.cart .variations .reset_variations {
  text-align: right;
}
.woocommerce .product-toolbar .woocommerce-breadcrumb {
  float: right;
}
.woocommerce .product-toolbar .navigation {
  float: left;
}
.woocommerce .product-toolbar .nav-links {
  flex-direction: row-reverse;
}
.woocommerce .shop-toolbar .shop-view .view-list {
  padding-left: 0;
  padding-right: 15px;
}
.woocommerce .shop-toolbar .woocommerce-ordering .current span.sort-by {
  padding-left: 0;
  padding-right: 18px;
}
.woocommerce ul.products li.product .footer-button .actions-button {
  padding-left: 0;
  padding-right: 10px;
}
.woocommerce ul.products li.product .footer-button .yith-wcwl-add-to-wishlist {
  margin-right: 0;
  margin-left: 15px;
}
.woocommerce #review_form #respond .comment-reply-title {
  text-align: right;
}
.woocommerce ul#shipping_method li {
  padding-left: 0;
  padding-right: 22px;
}
.woocommerce ul#shipping_method li label:before {
  left: auto;
  right: -4px;
}
.woocommerce nav.woocommerce-pagination ul li {
  border-left-width: 0;
}
.woocommerce-account .customer-login .inline .label {
  padding: 0 15px 0 0;
}
.woocommerce-account .customer-login .inline .label:before {
  left: auto;
  right: -12px;
}
.woocommerce.footer-catalog-filter .supro_attributes_filter ul li.show-color .nav-title,
.woocommerce .shop-topbar .supro_attributes_filter ul li.show-color .nav-title,
.woocommerce.footer-catalog-filter .widget_layered_nav_filters ul li.show-color .nav-title,
.woocommerce .shop-topbar .widget_layered_nav_filters ul li.show-color .nav-title {
  padding-left: 0;
  padding-right: 10px;
}
.woocommerce .track_order .form-row {
  text-align: right;
}
.supro-catalog-page.shop-view-list ul.products li.product h3 {
  margin-right: 0;
  margin-left: 70px;
}
.supro-catalog-page.shop-view-list ul.products li.product .star-rating {
  float: left;
}
.woocommerce-cart .woocommerce .woocommerce-cart-form table.shop_table tr th {
  text-align: right;
}
.woocommerce-cart .woocommerce .cart-collaterals {
  float: left;
}
.woocommerce-cart .woocommerce table.cart .btn-shop,
.woocommerce-cart .woocommerce table.checkout .btn-shop {
  margin-right: 0;
  margin-left: 5px;
}
.woocommerce-cart .woocommerce table.cart td.actions .coupon .button,
.woocommerce-cart .woocommerce table.checkout td.actions .coupon .button {
  right: auto;
  left: 0;
}
.woocommerce-cart .woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-cart .woocommerce table.checkout td.actions .coupon .input-text {
  padding: 10px 20px 12px 80px;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table th {
  text-align: right;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table td {
  text-align: left;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table .shipping td {
  text-align: right;
}
.woocommerce-checkout table.shop_table tr th {
  text-align: right;
}
.woocommerce-checkout table.shop_table tr th:last-child {
  text-align: left;
}
.woocommerce-checkout table.shop_table td:last-child {
  text-align: left;
}
.woocommerce-checkout table.shop_table .cart_item td.product-total {
  text-align: left;
}
.woocommerce-checkout table.shop_table tfoot td[data-title="Shipping"] {
  text-align: right;
}
.woocommerce-checkout #payment ul.payment_methods > li > label {
  padding-left: 0;
  padding-right: 32px;
}
.woocommerce-checkout #payment ul.payment_methods > li > label:before {
  left: auto;
  right: 0;
}
.woocommerce-checkout form.checkout .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label > span {
  padding-left: 0;
  padding-right: 33px;
}
.woocommerce-checkout form.checkout .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label > span.required {
  padding: 0;
}
.woocommerce-checkout form.checkout .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label > span:before {
  left: auto;
  right: 0;
}
#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  margin-left: 20px;
  margin-right: 0;
}
.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 0;
}
/** Footer **/
.site-footer .footer-copyright.columns-2 .footer-sidebar:last-child,
.site-footer .footer-copyright.columns-3 .footer-sidebar:last-child {
  text-align: left;
}
.backtotop {
  right: auto;
  left: 50px;
}
@media (max-width: 1199px) {
  .site-footer .footer-copyright.columns-2 .footer-sidebar:last-child,
  .site-footer .footer-copyright.columns-3 .footer-sidebar:last-child {
    text-align: center;
  }
  .supro-off-canvas-panel.menu-sidebar ul.menu li.menu-item-has-children .toggle-menu-children {
    right: auto;
    left: 0;
  }
  .supro-off-canvas-panel.menu-sidebar ul.menu > li > a {
    padding-right: 0;
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .page-header-catalog .page-header-shop-toolbar {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .site-footer .footer-copyright.columns-2 .footer-sidebar,
  .site-footer .footer-copyright.columns-3 .footer-sidebar,
  .site-footer .footer-copyright.columns-2 .footer-sidebar:last-child,
  .site-footer .footer-copyright.columns-3 .footer-sidebar:last-child {
    text-align: center;
  }
  .backtotop {
    left: 20px;
  }
}
@media (max-width: 600px) {
  .supro-off-canvas-panel,
  .filter-mobile-enable.content-sidebar .catalog-sidebar,
  .filter-mobile-enable.sidebar-content .catalog-sidebar,
  .filter-mobile-enable.full-content .woocommerce-products-header {
    right: auto;
    left: -350px;
  }
  .supro-off-canvas-panel.open,
  .filter-mobile-enable.content-sidebar .catalog-sidebar.open,
  .filter-mobile-enable.sidebar-content .catalog-sidebar.open,
  .filter-mobile-enable.full-content .woocommerce-products-header.open {
    transform: translate3d(350px, 0, 0);
  }
  .woocommerce .shop-toolbar .shop-toolbar-el {
    text-align: left;
  }
}
/** Responsive **/
@media (max-width: 480px) {
  .site-header .menu-extra .extra-menu-item {
    padding-right: 15px;
  }
  .site-header .menu-extra .menu-item-cart,
  .site-header .menu-extra .menu-item-wishlist {
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .supro-off-canvas-panel,
  .filter-mobile-enable.content-sidebar .catalog-sidebar,
  .filter-mobile-enable.sidebar-content .catalog-sidebar,
  .filter-mobile-enable.full-content .woocommerce-products-header {
    right: auto;
    left: -280px;
  }
  .supro-off-canvas-panel.open,
  .filter-mobile-enable.content-sidebar .catalog-sidebar.open,
  .filter-mobile-enable.sidebar-content .catalog-sidebar.open,
  .filter-mobile-enable.full-content .woocommerce-products-header.open {
    transform: translate3d(280px, 0, 0);
  }
}
