/*==================================
GUTTERS
==================================*/
.page-template-page-login.right-sidebar .content-area { width: 100%; margin: 0; }

/*==================================
BUTTON
==================================*/
.btn { font-size: 14px; font-weight: 400; border-radius: 0; }
.btn:focus { box-shadow: none; }

/* Color */
.btn-red, .btn-red:focus { background-color: #CF0A2C; color: #fff; }
.btn-red:hover { background-color: #b70927; color: #fff; box-shadow: inset 0 0 20px #9e0822; }

/*==================================
FORM
==================================*/
input[type=text].form-control, input[type=email].form-control, input[type=password].form-control,
input[type=search].form-control, input[type=tel].form-control, input[type=url].form-control,
textarea.form-control { border-radius: 0; height: auto; padding: 5px 10px; }

/* Focus */
input[type=text].form-control:focus, input[type=email].form-control:focus, input[type=password].form-control:focus,
input[type=search].form-control:focus, input[type=tel].form-control:focus, input[type=url].form-control:focus,
textarea.form-control:focus { border-color: transparent; box-shadow: none; }

/*==================================
LOGIN PAGE
==================================*/
.login-title { text-transform: uppercase; text-align: center; }
.login-wrapper { margin-top: 40px; margin-bottom: 40px; }
.login-heading { text-align: center; margin-bottom: 40px; }
.login-options { text-align: center; }

/* Social Media Login */
.wp-social-login-provider-list { padding: 0; }
.wp-social-login-provider { display: block; text-align: center; border: 1px solid #333; margin-bottom: 15px; padding: 5px 0; font-size: 16px; color: #fff; }
.wp-social-login-provider:hover { color: #fff; text-decoration: none; }
.wp-social-login-provider:before { display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; -webkit-font-smoothing: antialiased; font-family: "Font Awesome 5 Brands"; margin-right: 10px; }
.wp-social-login-provider.wp-social-login-provider-facebook { background-color: #3b5998; }
.wp-social-login-provider.wp-social-login-provider-facebook:before { content: "\f39e"; }
.wp-social-login-provider.wp-social-login-provider-linkedin { background-color: #0077b5; }
.wp-social-login-provider.wp-social-login-provider-linkedin:before { content: "\f0e1"; }
.wp-social-login-provider.wp-social-login-provider-instagram { background-color: #f77737; }
.wp-social-login-provider.wp-social-login-provider-instagram:before { content: "\f16d"; }
.wp-social-login-provider.wp-social-login-provider-twitter { background-color: #1da1f2; }
.wp-social-login-provider.wp-social-login-provider-twitter:before { content: "\f099"; }

.wp-social-login-widget .wp-social-login-provider { width: 100%!important; height: 100%!important; line-height: 30px!important; }

/* Sign In / Sign Up */
ul.signinup { margin: 0; list-style: none; display: flex; align-items: center; justify-content: center; width: 100%; }
ul.signinup>li { width: 100%; }
ul.signinup>li>a { display: block; background-color: #ccc; color: #fff; text-align: center; padding: 5px 0; text-decoration: none; outline: none; text-transform: uppercase; }
ul.signinup>li>a.active { background-color: #737373; box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); }

/* Form */
.form-wrapper { margin-top: 20px; display: none; }
.form-wrapper.active { display: block; }
.form-wrapper label { font-size: 14px; margin-bottom: 5px; }
.forgot-password { text-align: center; margin-top: 14px; }
.forgot-password a { color: #4a4a4a; font-size: 14px; }
.forgot-password a:hover { color: #242424; text-decoration: none; }
.form-check { background-color: #efefef; padding: 5px; padding-left: 25px; margin-bottom: 10px; }

/*==================================
GOOGLE BUTTON
==================================*/
.wp-social-login-provider.wp-social-login-provider-google { font-family: 'Roboto', sans-serif; font-weight: 500; color: #fff; border: 0; }
.wp-social-login-provider.wp-social-login-provider-google { background-color: #4285f4; }
.wp-social-login-provider.wp-social-login-provider-google:active { background-color: #3367d6; }
.wp-social-login-provider.wp-social-login-provider-google:hover { background-color: #3367d6; }
.wp-social-login-provider.wp-social-login-provider-google:focus { background-color: #4285f4; box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5); outline: 0; }

/*==================================
WOOCOMMERCE CHECKOUT FIELDS
==================================*/
.woocommerce-checkout .form-row { display: block; margin-left: 0; margin-right: 0; padding-left: 15px; padding-right: 15px; }
.woocommerce-checkout .form-row.form-row-first, .woocommerce-checkout .form-row.form-row-last { width: 50%; }
.woocommerce a.remove { width: 15%; }
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table { margin-top: 7em; }
/*===================================
WOOCOMMERCE SECTION FIELDS
*/
.single-product .site-content { padding-bottom: 20px; }
.error404 .site-content { padding-top: 0px!important;padding-bottom: 0px;position: relative;margin-bottom: -50px; }
.page-header.page-header-default.text-center.no-bg.text-dark {padding-top: 50px!important;padding-bottom: 35px; }

/*===================================
WOOCOMMERCE cart shipping FIELDS
*/
.woocommerce-checkout table.shop_table .order-total .woocommerce-Price-amount { font-weight: 900;}
.woocommerce ul#shipping_method li { cursor: pointer;border-bottom: 2px solid#ddd; }
.woocommerce-cart ul#shipping_method li .woocommerce-Price-amount { font-weight: 400;float: right;margin-top: 2em;color: red; }
.woocommerce-checkout ul#shipping_method li .woocommerce-Price-amount { font-weight: 400;float: right;margin-top: 2em;margin-left: 51em;color: red; }
/*
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/


p#billing_city_field span {
    background: #eee;
    border: 1px solid #eee;
    padding: 9px 0px;
    height: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: 0;
}
input#billing_postcode {
    background: #eee;
    border: 1px solid #eee;
    padding: 1px 1.5em;
    height: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: 0;
}

.col-lg-6.class-left {float: left;}
.wp-polls ul li, .wp-polls-ul li, .wp-polls-ans ul li{ font-size: 1.5em; }
span.decrease.icon_minus-06{
		display: inline;
    left: 5px!important;
		border-radius: 5px;
		padding-left: 7px;
		padding-right: 7px;
		padding-bottom: 5px;
		background-color: #F5F5F5!important;
	}
	span.increase.icon_plus{
		display: inline;
		border-radius: 5px;
		padding-left: 7px;
		padding-right: 7px;
		padding-bottom: 5px;
		background-color: #F5F5F5!important;
	}
	.wac-qty-button{display:none!important;}

.woocommerce table.shop_table tr td .quantity, .woocommerce table.shop_table tbody td .quantity{    
    border: 0px solid #eaeaea!important;
    line-height: 1px!important;
    width: 75%!important;
}

