/*==================================
Bootstrap 4.0.0 Breakpoints
==================================*/

/*==================================
Extra Large Devices, Wide Screens
==================================*/
@media only screen and (max-width : 1199px) {
	
}

/*==================================
Large Devices, Desktops
==================================*/
@media only screen and (max-width : 991px) {

}

/*==================================
Medium Devices, Tablets
==================================*/
@media only screen and (max-width : 767px) {

}

/*==================================
Small Devices, Phones
==================================*/
@media only screen and (max-width : 575px) {

}

/*==================================
Extra Small Devices, Phones
==================================*/
@media only screen and (max-width : 320px) {

}