/*==================================
GUTTERS
==================================*/
.page-template-page-login.right-sidebar .content-area { width: 100%; margin: 0; }

/*==================================
BUTTON
==================================*/
.btn { font-size: 14px; font-weight: 400; border-radius: 0; }
.btn:focus { box-shadow: none; }

/* Color */
.btn-red, .btn-red:focus { background-color: #CF0A2C; color: #fff; }
.btn-red:hover { background-color: #b70927; color: #fff; box-shadow: inset 0 0 20px #9e0822; }

/*==================================
FORM
==================================*/
input[type=text].form-control, input[type=email].form-control, input[type=password].form-control,
input[type=search].form-control, input[type=tel].form-control, input[type=url].form-control,
textarea.form-control { border-radius: 0; height: auto; padding: 5px 10px; }

/* Focus */
input[type=text].form-control:focus, input[type=email].form-control:focus, input[type=password].form-control:focus,
input[type=search].form-control:focus, input[type=tel].form-control:focus, input[type=url].form-control:focus,
textarea.form-control:focus { border-color: transparent; box-shadow: none; }

/*==================================
LOGIN PAGE
==================================*/
.login-title { text-transform: uppercase; text-align: center; }
.login-wrapper { margin-top: 40px; margin-bottom: 40px; }
.login-heading { text-align: center; margin-bottom: 40px; }
.login-options { text-align: center; }

/* Social Media Login */
.wp-social-login-provider-list { padding: 0; }
.wp-social-login-provider { display: block; text-align: center; border: 1px solid #333; margin-bottom: 15px; padding: 5px 0; font-size: 16px; color: #fff; }
.wp-social-login-provider:hover { color: #fff; text-decoration: none; }
.wp-social-login-provider:before { display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; -webkit-font-smoothing: antialiased; font-family: "Font Awesome 5 Brands"; margin-right: 10px; }
.wp-social-login-provider.wp-social-login-provider-facebook { background-color: #3b5998; }
.wp-social-login-provider.wp-social-login-provider-facebook:before { content: "\f39e"; }
.wp-social-login-provider.wp-social-login-provider-linkedin { background-color: #0077b5; }
.wp-social-login-provider.wp-social-login-provider-linkedin:before { content: "\f0e1"; }
.wp-social-login-provider.wp-social-login-provider-instagram { background-color: #f77737; }
.wp-social-login-provider.wp-social-login-provider-instagram:before { content: "\f16d"; }
.wp-social-login-provider.wp-social-login-provider-twitter { background-color: #1da1f2; }
.wp-social-login-provider.wp-social-login-provider-twitter:before { content: "\f099"; }

/* Sign In / Sign Up */
ul.signinup { margin: 0; list-style: none; display: flex; align-items: center; justify-content: center; width: 100%; }
ul.signinup>li { width: 100%; }
ul.signinup>li>a { display: block; background-color: #ccc; color: #fff; text-align: center; padding: 5px 0; text-decoration: none; outline: none; text-transform: uppercase; }
ul.signinup>li>a.active { background-color: #737373; box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); }

/* Form */
.form-wrapper { margin-top: 20px; display: none; }
.form-wrapper.active { display: block; }
.form-wrapper label { font-size: 14px; margin-bottom: 5px; }
.forgot-password { text-align: center; margin-top: 14px; }
.forgot-password a { color: #4a4a4a; font-size: 14px; }
.forgot-password a:hover { color: #242424; text-decoration: none; }
.form-check { background-color: #efefef; padding: 5px; padding-left: 25px; margin-bottom: 10px; }

/*==================================
GOOGLE BUTTON
==================================*/
.wp-social-login-provider.wp-social-login-provider-google { font-family: 'Roboto', sans-serif; font-weight: 500; color: #fff; border: 0; }
.wp-social-login-provider.wp-social-login-provider-google { background-color: #4285f4; }
.wp-social-login-provider.wp-social-login-provider-google:active { background-color: #3367d6; }
.wp-social-login-provider.wp-social-login-provider-google:hover { background-color: #3367d6; }
.wp-social-login-provider.wp-social-login-provider-google:focus { background-color: #4285f4; box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5); outline: 0; }

/*==================================
WOOCOMMERCE CHECKOUT FIELDS
==================================*/
.woocommerce-checkout .form-row { display: block; margin-left: 0; margin-right: 0; padding-left: 15px; padding-right: 15px; }
.woocommerce-checkout .form-row.form-row-first, .woocommerce-checkout .form-row.form-row-last { width: 50%; }