.topbar {
	&.has-border {
		border-bottom: 1px solid #e1e1e1;
	}

	.row-flex {
		align-items: stretch;
		min-height: 55px;
	}

	.topbar-widgets {
		flex-grow: 1;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 -30px;

		.widget {
			margin: 10px 0;
			padding: 0 30px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 14px;
				right: -1px;
				top: 50%;
				transform: translateY(-50%);
				background-color: #999;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}

	.topbar-right {
		justify-content: flex-end;
	}

	.widget_search {
		.search-form {
			position: relative;
			max-width: 200px;

			&:before {
				font-size: 16px;
				padding-bottom: 2px;
			}

			.search-field {
				padding-bottom: 5px;
				padding-left: 25px;
			}

			.search-submit {
				height: 27px;
			}
		}
	}

	.supro-social-links-widget {
		ul {
			margin-right: -10px;
			margin-left: -10px;

			a {
				font-size: 16px;
			}
		}
	}

	.widget_categories,
	.widget_archive,
	.widget_pages,
	.widget_meta,
	.widget_nav_menu,
	.widget_dl-custom-menu {
		margin: 0;

		ul {
			li {
				padding: 0 10px;
				display: inline-block;

				&:first-child {
					padding-left: 0;
				}
			}
		}

		li:before {
			display: none;
		}
	}

	.supro-language-currency {
		.widget-lan-cur {
			float: none;
			width: 100%;
			position: relative;
			padding: 0;
			cursor: pointer;

			span.current {
				display: block;
			}

			span.toggle-children {
				transform: translateY(1px);
				display: inline-block;

				&:before {
					content: '\e93a';
					font-family: Linearicons;
					font-size: 14px;
					padding-left: 10px;
				}
			}

			img.iclflag {
				padding-right: 15px;
			}

			ul {
				transition: top 0.3s ease 0s, opacity 0.3s;
				position: absolute;
				top: calc(100% + 30px);
				left: -10px;
				min-width: 120px;
				transform: scaleX(0);
				z-index: 999;
				padding: 10px;
				background-color: #fff;
				text-align: left;

				&:before {
					content: '';
					width: 100%;
					height: 17px;
					left: 0;
					top: -17px;
					position: absolute;
					background-color: transparent;
				}

				li {
					padding: 5px 0;
				}
			}

			&:hover {
				ul {
					top: calc(100% + 16px);
					transform: scaleX(1);
				}
			}
		}
	}
}

.topbar.topbar-mobile {
	.topbar-widgets {
		padding-left: 0;
		padding-right: 0;
	}
}

.topbar-enable {
	.su-header-minimized {
		display: none;
	}

	&.header-sticky {
		.site-header {
			position: static;
			transition: unset;

			&.minimized {
				position: fixed;
				right: 0;
				left: 0;
				top: 0;
				padding-top: 20px;
				padding-bottom: 20px;
				background-color: #fff;
				box-shadow: 0 1px 1px 0 #f0f0f0;
				z-index: 999;
				animation-name: fadeInDown;
				animation-duration: .25s;
			}
		}

		&.admin-bar {
			.site-header {
				&.minimized {
					top: 32px;
				}
			}
		}

		.su-header-minimized {
			&.minimized {
				display: block;
			}
		}
	}

	&.header-transparent {
		.site-header {
			position: absolute;

			&.minimized {
				position: fixed;
			}
		}

		.topbar {
			position: absolute;
			background-color: transparent;
			top: 0;
			right: 0;
			left: 0;
			z-index: 999;

			.widget_search .search-form label input {
				border: 0;
			}
		}

		&.admin-bar {
			.topbar {
				top: 32px;
			}
		}
	}
}

